.manual-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

h1, h2 {
    color: #ffffff;
}

p, ul, ol {
    color: #ffffff;
    line-height: 1.8;
    font-size: 1.6em; /* Mantido o tamanho da fonte */

}

body{
    background-color: rgba(0, 0, 0, 0.9);

}


.button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 25px; /* Mantido o padding */
    margin: 10px 0; /* Mantido o espaçamento vertical */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; /* Mantido o tamanho da fonte */
    transition: background-color 0.3s, transform 0.2s; /* Mantido o efeito de transição */
}


/* Para navegadores WebKit (Chrome, Edge e Safari) */
::-webkit-scrollbar {
    width: 10px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0.5); /* Cor do fundo da scrollbar */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #000000; /* Cor da barra de rolagem */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff; /* Cor da barra de rolagem ao passar o mouse */
}
